<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <title>@ViewBag.Title - My Cafeteria </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    @RenderSection("head", false)
    <style>

        .body-content {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            @*<div class="container">*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kalinga Cafeteria", "Home", "Cafeteria", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li><a href="/Cafeteria/HomePage">Home</a></li>
                    <li><a href="/Cafeteria/AboutCafeteria">About</a></li>
                    <li><a href="/Cafeteria/PhotoGallery">Photo</a></li>
                    <li><a href="/Cafeteria/Contact">Contact</a></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Cafeteria")</li>
                   
            </div>
            @*</div>*@
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>
        <div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My Cafeteria</p>
            </footer>
        </div>
    </div>
</body>
</html>
