@model IEnumerable<KalingaCafteria.Models.MenuModel>

@{
    ViewBag.Title = "MenuListUser";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuList</title>
    
    <style>
        body {
            
            background-color: black;
            background: url("../../Photo/menu1.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        h1 {
            text-align: center;
            text-transform: capitalize;
            color: rgb(87, 60, 52);
            text-shadow: 2px 1px grey;
            font-style: italic;
            font-size: 60px;
            font-weight: bold;
            position: relative;
            top: 0px;
        }

        

        .div1 {
            color: white;
        }

        .card-deck {
            background-color: rgb(200, 202, 87);
        }

        .card-body {
            background-color: rgb(92, 56, 22);
        }
    </style>
</head>
<body>
    <br /><br />
    <h1>Menu</h1>
    
    <div class="div1">
        <div class="container">
            <div class="card-deck">
                @if(ViewBag.Message!=null)
                {
                    @ViewBag.Message
                }
                else{
                                foreach (var item in Model)
                            {

                    <div class="card bg-success" align="center">
                        <div class="card-body text-center">

                            <p class="card-text">@Html.DisplayNameFor(model => model.CounterID):&emsp;@Html.DisplayFor(modelItem => item.CounterID)</p>
                            <p class="card-text">@Html.DisplayNameFor(model => model.ItemId):&emsp;@Html.DisplayFor(modelItem => item.ItemId)</p>
                            <p class="card-text">@Html.DisplayNameFor(model => model.ItemName):&emsp;@Html.DisplayFor(modelItem => item.ItemName)</p>
                            <p class="card-text">@Html.DisplayNameFor(model => model.Itemdescription):&emsp;@Html.DisplayFor(modelItem => item.Itemdescription)</p>
                            <p class="card-text">@Html.DisplayNameFor(model => model.Price):&emsp;@Html.DisplayFor(modelItem => item.Price)</p>

                            <div>
                                <input type="button" value="Add" name="getfood" class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("ItemPurchase", "Cafeteria", new RouteValueDictionary(new { fid = item.ItemId, price = item.Price }))'" />

                            </div>

                        </div>
                        <br />
                    </div>


                }
                }
                
            </div>
        </div>
    </div><br /><br /><br />



</body>
</html>

